{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        form-family: 'Poppins', sans-serif;
    }

    :root {
        --clr: #222327;
    }

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: var(--clr);
    }

    .navigation {
        position: relative;
        width: 400px;
        height: 70px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .navigation ul {
        display: flex;
        width: 300px;
    }