/* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        form-family: 'Poppins', sans-serif;
    } */

:root {
    --clr: #222327;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}

.navigation {
    position: relative;
    width: 400px;
    height: 70px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;
    padding-inline-start: 0%;

}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;

}


.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500px;

}

.navigation ul li a .icon {
    position: relative;
    display: block;
    padding-left: 5px;
    line-height: 85px;
    font-size: 1.5em;
    color: var(--clr);
    transition: 0.5s;
}

.navigation ul li.active a .icon {
    transform: translateY(-35px);
}

.navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 0.08em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -50%;
    height: 65px;
    width: 65px;
    background-color: rgb(62, 225, 62);
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 45%;
    left: -36%;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 20px;
    box-shadow: 0 -10px 0 0 var(--clr);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 45%;
    right: -22px;
    width: 20px;
    height: 20px;
    /* background-color: aqua; */
    border-top-left-radius: 25px;
    box-shadow: 0 -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(70px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(70px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(70px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(70px * 4));
}